*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgba(180, 35, 59, 0.85) 10%, rgba(36, 11, 54, 0.9) 100%);
 
}

form{
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(31, 2, 4, 0.7);
}

form img{
  margin-bottom: 20px;
}


form label{
  margin-bottom: 35px;
}

form label .fa-solid{
  font-size: 20px;
  color: #c31432;
  margin-right:10px;
}

form label input{
  color: #252525;
  border-bottom: 1px solid #c31432;
  padding: 0 5px;
  font-size: 16px;
}

form label input::placeholder{
  color:#707070;
}

form .link{
  color:#252525;
  margin-bottom: 15px;
}

form button{
  color: #fff;
  padding: 10px 15px;
  background-image: linear-gradient( 135deg,#c31432 10% ,#240b36 100%);
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
}


.password-input {
  position: relative;
}

#show-password{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 .1em;
  cursor: pointer;
  opacity: 0.3;
}



@media screen and (max-width: 768px) {
 
  }