@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira Code');
@import url('https://fonts.cdnfonts.com/css/public-sans');
html,body,h1,h2,h3,h4,h5 {font-family: "Public Sans", sans-serif}



.distro-title{
  font-size: 2em;
  margin: .8em 0 .7em 0;
  text-align: center;
}

.load-excel-title{
  font-size: 2em;
  margin: .8em 0 .7em 0;
  text-align: center;
}


body{
  background-color: #e5e5e5 !important;
}

.w3-bar{
  background-color: #202021;
  color: white;
}

#mySidebar{
  background-image: linear-gradient(135deg, rgba(75, 10, 20, 0.7) 10%, rgba(36, 11, 54, 0.9) 100%);
  font-weight: 700;
  font-size: 1.25em;

}

a{
  text-decoration: none;
}
.box{
  position: relative;
  border-radius: 3px;
  background: #f1f4f6;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.box.box-success{
  border-top-color:  rgba(75, 10, 20, 0.7);
}

.box.box-solid{
  border-top-color:  rgba(75, 10, 20, 0.7);
}

.box-shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%) !important;
}

.bg-info{
  color: #fff !important;
  background-image: linear-gradient(to bottom right, #17a2b8, #9dd9e7) !important;
 
}
.bg-success{
  color: #fff !important;
  background-image: linear-gradient(to bottom right, #28a745, #98d69b) !important;
}
.bg-danger{
  color: #fff !important;
  background-image: linear-gradient(to bottom right, #dc3545, #ff6b6b) !important;
}
.bg-warning{
  color: #fff !important;
  background-image: linear-gradient(to bottom right, #ff9800, #ffc107) !important;
}

.small-box{
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-bottom: 20px;
  position: relative;
}


.btn-agregar, .btn-print, .btn-excel {
  background-color: #92caf0  !important;
  font-size: .85em !important;
  border: none !important;
  border-radius: 4px !important;
  padding: .5em 1em !important;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.btn-agregar:hover, .btn-print:hover, .btn-excel:hover  {
  background-color: #117fc9 !important;
}

.btn-agregar:before {
  content: '\f067';
  font-family: FontAwesome;
  margin-right: 8px;
}



.w3-row-padding{
  font-family: 'Fira Code'
}
.w3-quarter .w3-center p{
  font-family: 'Fira Code'
}

.highlighted {
  background-color: yellow;
}

.left {
  float: left;
}

.dataTables_filter input {
  margin-bottom: 1em;
  
}



.tableContainer{
  max-width: 100% !important;
  border-style: groove;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  border-radius: 8pt;
  border-color: #bf4458;
  background: #f8f9fa;
  padding: .1em .1em .1em .1em;
  margin-right: .5em;
}



#table_modal, #management_table, #current_contract_table, #end_contract_table, #cancel_contract_table, 
#clients_table, #config_table, #table_condition, #optionTable {
  max-width: 100% !important;
  border-collapse: collapse;
  
}

.table-responsive {
  overflow-x: auto;
}



#optionTable th, #table_condition th {
  font-size: 1em;
  
}

#optionTable th td, #table_condition th td {
  width: .5em;
  
}


#modal_container{
  height: 15em;
  overflow-y: scroll;
}

.table thead{
  background:   #444444;
  color: #f4f4f4;
}

td, th {
  padding: .75em;
}

th{
  font-weight: 700;
  font-size: 1.05em;
}
td{
  font-weight: 700;
  font-size: .85em;
}

#end_contract_table thead {
  background: #3e8e41;
}
#cancel_contract_table thead {
  background: #bd3817;
}


.sorting_asc:before {
  content: "\2191"; /* Código de carácter del icono de flecha hacia arriba */
  color: green;
  
}

/* Icono de ordenación descendente */
.sorting_desc:after {
  content: "\2192"; /* Código de carácter del icono de flecha hacia abajo */
  color: rgb(255, 0, 0);
 
}

.w3-quarter{
    text-decoration: none;
}


.w3-sidebar{
    background-color: #202021;
    color: white;
}



.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8pt;
    padding: 8pt;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    background: #f8f9fa;
  }


  .top-section {
    display: flex;
    justify-content: center;
    
  }

  #total{
    margin: 0 15em 0 0;

  }
  .top-section span{ 
     font-size: 1.75em;
  }



  .barrel-container{
    display: flex;
    justify-content: center;
    
  }

  .barrel-container td{
    
    text-align: center;
    vertical-align: middle;
   
  }

.barrel-items{
  padding-left: 16pt;
  padding-right: 16pt;
  justify-content: center;
  display: flex;
  margin-top: 1em;
  list-style: none;
  flex-wrap: wrap;
  line-height: 1.75em;
  font-size: 1em;
  color: #777676;
}


.barrel-items li{
  border-left: 2.5px solid #eb6e4b;
  margin-right: 16pt;
  display: inline;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 10px;
}


.progress-condition {
  height: 2em;
  width: 90%;
  border: 0.5px solid #808080;
  border-radius: 7px;
  background-color: #ecc9c9;
  margin: 0em 0em 1em 1em;
}

.progress-bar-condition {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

.progress-bar-text {
  margin-left: .9em;
  font-weight: bold;
  color: #000000;
}


.btn-dirty, .btn-empty, .btn-service, .btn-stored{
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: .75em 1.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  
}

.btn-dirty:hover, .btn-empty:hover, .btn-service:hover, .btn-stored:hover{
  color: white;
 font-weight: 700;
 font-size: 1.25em;

}

.btn-dirty{
  background-color: red;
 
}


.btn-empty{
  background-color: green;

}

.btn-stored{
  background-color: blue;
  
}

.btn-service{
  background-color: rgb(255, 136, 0);

}

.modalform {
  max-width: 45em;
  margin: 1em auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.selectForm {
  max-width: 45em;
  margin: 1em auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #a1befc;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}



label {
  display: block;
 
}


input[type="text"]:not(.hidden-input),
input[type="email"]:not(.hidden-input),
select:not(.hidden-input),
textarea:not(.hidden-input) {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  resize: none;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#contractClient, #client-id, #days{ 
  display: inline-block;
  text-align: center;
  width: 6em;
  font-size: .77em;
  height:2em;
  padding: .5em;
}




.field-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.field-group .field {
  flex-basis: 48%;
}




.form-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-group .field {
  flex-basis: 48%;
}

.form-group label {
  margin-top: 5px;
}

.table-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}


.content {
  display: grid;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.cell {
  text-align: center;
}


.widget-chart.text-left {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
}


.widget-chart {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.widget-chart.text-left .icon-wrapper {
  min-width: 54px;
  margin: 0 1rem 0 0;
}

.icon-wrapper {
  width: 54px;
  height: 54px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.icon-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.rounded-circle {
  border-radius: 50% !important;
}

.icon-wrapper .icon-wrapper-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: .2;
}


.widget-chart.text-left .widget-chart-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.icon-wrapper i {
  margin: 0 auto;
  font-size: 1.7rem;
  position: relative;
  z-index: 5;
}

[class^="lnr-"], [class*=" lnr-"] {
  font-family: 'Linearicons-Free';

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-8 {
  opacity: .8 !important;
}
.text-dark {
  color: #343a40 !important;
}
.text-left {
  text-align: left !important;
}
.widget-chart .widget-subheading:first-child {
  margin-top: 0;
}
.widget-chart .widget-subheading {
  margin: -0.5rem 0 0;
  display: block;
  opacity: .6;
}
.widget-chart.text-left .widget-numbers {
  margin-left: 0;
}
.widget-chart .widget-subheading + .widget-numbers {
  margin-top: 0.5rem;
}
.widget-chart .widget-numbers {
  font-weight: bold;
  font-size: 2.5rem;
  display: block;
  line-height: 1;
  margin: 1rem auto;
}
.widget-chart.text-left .widget-chart-content .widget-description {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.widget-chart .widget-numbers + .widget-chart-flex, .widget-chart .widget-numbers + .widget-description, .widget-chart .widget-numbers + .widget-subheading {
  margin-top: -0.5rem;
}
.widget-chart .widget-description {
  margin: 1rem 0 0;
}
.opacity-8 {
  opacity: .8 !important;
}
.text-focus {
  color: #444054 !important;
}

.collapse {
  transition: height 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.collapse.show {
  transition: height 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


#collapseService{
  width: 50%;
  border: .3em solid #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background:  rgba(255, 193, 7, 0.5);
  

}
#collapseStorage{
  width: 50%;
  border: .3em solid #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background:rgba(157, 217, 231, 0.5);
  

}
#collapseDirty{
  width: 50%;
  border: .3em solid #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background:  rgba(255, 107, 107, 0.5);
 

}

#collapseEmpty{
  width: 50%;
  border: .3em solid #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background:  rgba(152, 214, 155, 0.5);


}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5em 0 0;
}

.radio-container input[type="radio"] {
  margin: 0 .2em 0 2em;
  
}



.ui-datepicker {
  background: #fff; /* Cambia el color de fondo a blanco */
  border: 1px solid #ccc; /* Agrega un borde al calendario */
}

.ui-datepicker-header {
  background: #333; /* Cambia el color de fondo del encabezado */
  color: #fff; /* Cambia el color del texto del encabezado */
}


.wrapper{
  display: inline-flex;
  height: 5.65em;
  width: 25em;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  margin: 0 0.2em;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 1em;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span{
  color: #fff;
}

.chart-container {
  width: 100%;
  max-width: 50em; 
  margin: 0 auto;   /* Centra el contenedor */
}
.chart-img {
  width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}



.theme-btn {
  background: #eee;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444;
  display: inline-block;
  height: 80px;
  margin: 10px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  position: relative;
}

.theme-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589
}



.no-seleccionable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media (max-width: 600px) {

  .chart-container {
    width: 100%;
    max-width: 48em; /* Cambia el ancho máximo para pantallas más pequeñas */
    margin: 0 ;   
}

#collapseService, #collapseStorage, #collapseDirty, #collapseEmpty{
  font-size: .75em;
}

  .form-group {
    flex-direction: column;
  }
  
  .form-group .field {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-top: 0;
  }

  .top-section span{ 
    font-size: 1em;
 }

 .barrel-items li{
  border-left: 2px solid #eb6e4b;
 
}
.barrel-items{

  line-height: 1.5em;
  font-size: .85em;
 
}
.barrel-container{
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  font-size: .75em;
}

.barrel-container th {
 
  width: 100%;
  text-align: center;

}

.barrel-container td {
 
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: .95em;
  
}

}




@media (max-width: 900px) {
  .top-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  #total{
    margin: 0 1em 0 0;

  }
  .top-section span{ 
    font-size: 1.1em;
 }

 .bg-info, .bg-success, .bg-danger, .bg-warning{
  font-size: .8em;
 
}

}


/* establece un ancho máximo para la tabla cuando la pantalla es pequeña */
@media screen and (max-width: 768px) {
  .table {
    max-width: 100% !important;
  }

  h4{
    font-size: 1.2em;
  }

  .table-responsive table td, .table-responsive table th {
    width: 100%;
    box-sizing: border-box;
    text-align: left; /* Adjust text alignment as needed */
    white-space: nowrap; /* Prevent text wrapping in cells */
  }

  #table_condition th {
    font-size: .8em;
    
  }
  
  #table_condition th td {
    width: .5em;
    
  }

  #table_condition tr td {
    font-size: .7em;
    font-weight: 400;
  }
  #mySidebar{
    margin-top: 1em;
    
    }
}


/* establece un ancho completo para la tabla cuando la pantalla es grande */
@media screen and (min-width: 768px) {
  .table {
    width: 100% !important;
  }


}





/* Aplica estilos al contenedor en el estado normal */
.small-box:hover {
  transform: scale(1.05); /* Cambia el tamaño del contenedor al hacer hover */
  transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra al hacer hover */
}

/* Agrega estilos adicionales al texto al hacer hover */
.small-box:hover h3 {
  color: #fff; /* Cambia el color del texto al hacer hover */
}