{% extends "home.html" %}
{% block content %}

{% if 'error_msg' in session %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ session.pop('error_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if 'success_msg' in session %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.pop('success_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}



<form class="selectForm" action="{{url_for('change')}}" method="POST" onsubmit="return validateForm()">
<div class="search-container" style="margin-bottom: 1em;">
    <input type="text" id="ids" name="ids" placeholder="Seleccione el ID desde la tabla" readonly >
    <input type="hidden" name="condition" id="condition">
    <span>Filtrar por:</span>
<div class="radio-container">
  
  <div class="wrapper">
   
    <input type="radio" name="filtro" value="condition" id="option-1" checked/> 
    <input type="radio" name="filtro" value="location" id="option-2"/> 
    <input type="radio" name="filtro" value="batch" id="option-3"/> 
      
    <label class="option option-1" for="option-1">
    <div class="dot"></div>
      <span>Estado</span> 
    </label>
  
    <label class="option option-2" for="option-2">
      <div class="dot"></div>
      <span>Ubicación</span>
    </label> 
    
    <label class="option option-3" for="option-3">
      <div class="dot"></div>
    <span>Lote</span>
  </label>   
      
  </div>

   
</div>





</div>

<button style="display: none" type="submit" class="btnc btn btn-dirty" onclick="setCondition('Sucio')">Sucio</button>
<button style="display: none" type="submit" class="btnc btn-empty" onclick="setCondition('Vacío')">Vacío</button>
<button style="display: none" type="submit" class="btnc btn-service" onclick="setCondition('En servicio')">En servicio</button>
<button style="display: none" type="submit" class="btnc btn-stored" onclick="setCondition('En almacenamiento')">En almacenamiento</button>


<button style="display: none" type="submit" class="input-location btn btn-success" onclick="setLocation('Bar')" >Bar</button>
<button style="display: none" type="submit" class="input-location btn btn-success" onclick="setLocation('Fábrica')">Fábrica</button>



<div class="field" id="field-batch-style" style="display: none;">
  <select class="form-select" id="batchSelect" name="batchSelect" >
    {% for doc in batch %}
    <option data-batch="{{doc['batch']}}">{{doc['batch']}}</option>
    {% endfor%}
  </select>

  <button type="submit" id="submitButton" class="save btn btn-success">Guardar</button>
</div>


</form>


<div class="tableContainer">
  <div class="table-responsive no-seleccionable">
<table id="table_condition" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Serie</th>
        <th>Estado</th>
        <th>Ubicación</th>
        <th>Lote</th>     
      </tr>
    </thead>
  
    <tbody>
      {% for barrel in list_barrel %}
      {% if barrel.location == 'Fábrica' or barrel.location == 'Bar'%}
      <tr style="cursor: pointer;">
        <td >{{barrel.id}}</td>
        <td>{{barrel.serial}}</td>
        <td>
          {% if barrel.condition == 'Sucio' %}
            <span style="color:red"><b>{{barrel.condition}}</b> </span>
             
          {% endif %}
          {% if barrel.condition == 'Vacío' %}
          <span style="color:green"><b>{{barrel.condition}}</b></span>
           
          {% endif %}
          {% if barrel.condition == 'En servicio' %}
          <span style="color:rgb(255, 136, 0)"><b>{{barrel.condition}}</b></span>
          
          {% endif %}
          {% if barrel.condition == 'En almacenamiento' %}
          <span style="color:blue"><b>{{barrel.condition}}</b></span>
          
          {% endif %}
        </td>   
        
        <td><b>{{barrel.location}}</b></td>  
                      
        <td class="{% if not barrel.batch %}empty-batch{% endif %}">
          <b>{{barrel.batch}}</b>
          {% if not barrel.batch %}
            <span style="color: #a11c30;">SIN LOTE</span>
          {% endif %}

          {% if not barrel.batch %}
          {% if barrel.condition == 'En servicio' or barrel.condition == 'En almacenamiento' %}
              <span>***</span>
          {% endif %}
      {% endif %}
        </td>
      
      </tr>
      {% endif %}
  {% endfor %}
    </tbody>
  </table>
</div>
</div>




<script>
window.addEventListener('load', function() {
  document.getElementById('ids').value = '';

   // Selecciona el radio button "Condition" por su ID y establece su propiedad checked en true
   var conditionRadio = document.getElementById("option-1");
  if (conditionRadio) {
    conditionRadio.checked = true;
  }

});

    function setCondition(value) {
        document.getElementById('condition').value = value;
        document.querySelector('input[name="filtro"]:checked').value = value;
    }

    function setLocation(value) {
        document.getElementById('condition').value = value;
        document.querySelector('input[name="filtro"]:checked').value = value;
    }
  

  
    document.addEventListener("DOMContentLoaded", function () {
  // Crear un conjunto para almacenar los IDs agregados
  var addedIds = new Set();

  // Obtener la tabla y las filas de la tabla
  var table = document.getElementById("table_condition");
  var rows = table.getElementsByTagName("tr");

  // Obtener todos los radio buttons
  var radioButtons = document.querySelectorAll('input[name="filtro"]');

  // Obtener el campo de entrada
  var idsInput = document.getElementById("ids");

  // Obtener todos los botones
  var buttons = document.getElementsByClassName("btnc");

  var inpt = document.getElementsByClassName("input-location");

  var batchSelect = document.getElementById("batchSelect");
  var conditionInput = document.getElementById("condition");

   // Agrega un evento de escucha al botón Guardar
   var submitButton = document.getElementById("submitButton");
  submitButton.addEventListener("click", function () {
    // Obtén el valor seleccionado del select
    var selectedValue = batchSelect.value;
    
    // Asigna el valor seleccionado al campo condition
    conditionInput.value = selectedValue;
    
    // Envía el formulario si es necesario
    // document.forms[0].submit(); // Descomenta esta línea si deseas enviar el formulario automáticamente
  });

  // Agregar un evento "change" a cada radio button para detectar el cambio
  for (var i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener("change", function () {
      // Limpiar la selección al cambiar de radio button
      clearSelection();

      // Actualizar la variable filtroInput cuando cambie la selección
      filtroInput = this;

      // Restablecer los botones
      for (var j = 0; j < buttons.length; j++) {
        buttons[j].style.display = "none";
      }

      for (var k = 0; k < inpt.length; k++) {
        inpt[k].style.display = "none";
      }

      // Mostrar todas las filas de la tabla
      for (var m = 1; m < rows.length; m++) {
        rows[m].style.display = "";
      }

      // Agregar filtro adicional para el radio button "Lote"
      if (filtroInput.id === "option-3") {
          filterTableByBatch();
      }
    });
  }

  // Inicializar filtroInput con el radio button seleccionado al cargar la página
  var filtroInput = document.querySelector('input[name="filtro"]:checked');

  // Agregar un evento "dblclick" a cada fila
  for (var i = 0; i < rows.length; i++) {
    rows[i].addEventListener("dblclick", function () {
      // Obtener el ID de la fila que se hizo doble clic
      var id = this.cells[0].innerHTML;
      var currentState;

      if (filtroInput.value === "condition") {
        // Obtener el estado de la fila que se hizo doble clic
        currentState = this.cells[2].querySelector("b").textContent;
      } else if (filtroInput.value === "location") {
        currentState = this.cells[3].querySelector("b").textContent;
      } else if (filtroInput.value === "batch") {
        currentState = this.cells[4].querySelector("b").textContent;
      }

      this.classList.toggle("highlighted");
      // Verificar si el ID ya se ha agregado
      if (addedIds.has(id)) {
        // Eliminar el ID del campo de entrada
        var idsInput = document.getElementById("ids");
        var ids = idsInput.value;
        ids = ids
          .replace("," + id, "")
          .replace(id + ",", "")
          .replace(id, "");
        idsInput.value = ids;

        // Eliminar el ID del conjunto de IDs agregados
        addedIds.delete(id);
      } else {
        // Agregar el ID al campo de entrada
        var idsInput = document.getElementById("ids");
        var ids = idsInput.value;
        if (ids == "") {
          idsInput.value = id;
        } else {
          idsInput.value = ids + "," + id;
        }
        // Agregar el ID al conjunto de IDs agregados
        addedIds.add(id);
      }

      // Filtrar la tabla por el estado actual
      filterTableByState(currentState);
     
    });
  }

  // Función para filtrar la tabla por el estado actual
  function filterTableByState(state) {
    var buttons = document.getElementsByClassName("btnc");
    var inpt = document.getElementsByClassName("input-location");
    var saveBatch = document.getElementsByClassName("save btn");
    var batchSelect = document.getElementById("field-batch-style");




    // Obtener la tabla y las filas de la tabla
    var table = document.getElementById("table_condition");
    var rows = table.getElementsByTagName("tr");
    // Verificar si hay alguna fila seleccionada
    var hasSelection = false;
    for (var i = 1; i < rows.length; i++) {
      if (rows[i].classList.contains("highlighted")) {
        hasSelection = true;
        break;
      }
    }

    // Si no hay ninguna fila seleccionada y el radio button está en "batch"
    if (!hasSelection && filtroInput.value === "batch") {
      for (var i = 1; i < rows.length; i++) {
        var rowState = rows[i].cells[2].querySelector("b").textContent;
        // Mostrar filas que coincidan con "En servicio" o "En almacenamiento"
        if (rowState === "En servicio" || rowState === "En almacenamiento") {
          rows[i].style.display = "";
        } else {
          rows[i].style.display = "none";
        }
      }
      return;
  }


    // Si hay filas seleccionadas o el radio button no está en "batch", aplicar el filtro normal
    if (filtroInput.value === "condition") {
      // Obtener el estado de la fila actual
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].style.display =
          buttons[i].textContent !== state ? "inline-block" : "none";
      }
    } else if (filtroInput.value === "location") {
      for (var i = 0; i < inpt.length; i++) {
        inpt[i].style.display =
          inpt[i].textContent !== state ? "inline-block" : "none";
      }
    }else if (filtroInput.value === "batch") {
    // Mostrar el select y ocultar los botones y las entradas de ubicación
    batchSelect.style.display = "";
   
  }



    // Si no hay ninguna fila seleccionada, mostrar todas las filas
    if (!hasSelection) {
      for (var i = 1; i < rows.length; i++) {
        rows[i].style.display = "";
      }
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].style.display = "none";
      }
      for (var i = 0; i < inpt.length; i++) {
        inpt[i].style.display = "none";
      }
      return;
    }

    // Iterar a través de todas las filas de la tabla, omitiendo la primera fila
    for (var i = 1; i < rows.length; i++) {
      var rowState;
      if (filtroInput.value === "condition") {
        // Obtener el estado de la fila actual
        rowState = rows[i].cells[2].querySelector("b").textContent;
      } else if (filtroInput.value === "location") {
        rowState = rows[i].cells[3].querySelector("b").textContent;
      } else if (filtroInput.value === "batch") {
        rowState = rows[i].cells[4].querySelector("b").textContent;
        
      }

      // Ocultar o mostrar la fila según el estado actual
      rows[i].style.display = rowState === state ? "" : "none";
    }
  }


// Función para filtrar la tabla por lote
function filterTableByBatch() {
    var table = document.getElementById("table_condition");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var cells = row.getElementsByTagName("td");

        // Obtener el valor de la columna "Estado" (condition)
        var conditionCell = cells[2];
        if (conditionCell) {
            var condition = conditionCell.textContent.trim();

            // Verificar si la fila cumple con los criterios de estado
            if (condition !== "En almacenamiento" && condition !== "En servicio") {
                row.style.display = "none";
            } else {
                row.style.display = "";
            }
        }
    }
}




  // Función para deseleccionar todas las filas
  function clearSelection() {
    var table = document.getElementById("table_condition");
    var rows = table.getElementsByTagName("tr");
    var batchSelect = document.getElementById("field-batch-style");

    for (var i = 1; i < rows.length; i++) {
      rows[i].classList.remove("highlighted");
    }

    addedIds.clear();

    // Ocultar el select cuando se deseleccionan todas las filas
    batchSelect.style.display = "none";

    // Borrar el contenido del campo de entrada 'ids'
    document.getElementById("ids").value = "";
  }
});

</script>
<script>
  function validateForm() {
      var ids = document.getElementById("ids").value;
      var condition = document.getElementById("condition").value;
      if (ids == "" || condition == "") {
          alert("El campo 'ID' no puede estar vacío");
          return false;
      }
  }
</script>



{% endblock %}