{% extends "home.html" %}
{% block content %}



{% if 'error_msg' in session %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ session.pop('error_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if 'success_msg' in session %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.pop('success_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}


	<div class="modal fade" id="formClient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="formModalLabel">Agregar Cliente</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
	<form class="modalform" id="add_user" action="{{url_for('add_client')}}" method="POST" >
    
		<div class="form-group">
			<div class="field">
				<label for="client-name">* Cliente:</label>
				<input type="text" id="client-name" name="client-name" required><br><br>
			</div>
			<div class="field">
				<label for="id">* DNI/CUIL:</label>
				<input type="text" id="id" name="id" required><br><br>
			</div>
		</div>
		<div class="form-group">
			<div class="field">

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" ><br><br>
			</div>
			<div class="field">
				<label for="phone">* Teléfono:</label>
				<input type="text" id="phone" name="phone" required><br><br>
			</div>
		</div>
		<div class="form-group">
			<div class="field">
				<label for="address">* Dirección:</label>
				<textarea id="address" name="address" required></textarea><br><br>
			</div>
		</div>

		<input type="submit" value="Guardar cliente">
	</form>

</div>
</div>
</div>



<div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">
<table id="clients_table" class="table table-bordered table-striped display responsive nowrap">
	<thead>
	  <tr>
		<th>Cliente</th>
		<th>DNI/CUIL</th>
		<th>Tel.</th>
		<th>Correo</th>
		<th>Dirección</th>
		<th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for client in clients %}
	  <tr>
		<td>{{ client.name }} </td>
		<td> {{ client.id }}</td>
		<td> {{ client.phone }}</td>
		<td>{{ client.email }}</td>
		<td>{{ client.address }}</td>	
		<td>
		<a href="/update_client/{{client.id}}" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#clientedit{{client.id}}" title="Editar"> 
			<i class="fa fa-pencil-square-o"></i></a>
			
		<a href="/remove_client/{{client.id}}" class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Eliminar" >
			<i class="fa fa-trash"></i> </a> 
		</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
</div>

  {% for client in clients %}
  <div class="modal fade" id="clientedit{{client.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	 
	  <div class="modal-content">
		<div class="modal-header">
	
		  <h4 class="modal-title">Editar cliente</h4>
	
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
	
		  <form class="modalform" id="edit-client" action="{{url_for('update_client')}}" method="POST">
			
			<div class="form-group">
                <div class="field">
                <label for="number">Cliente</label>
				<input class="hidden-input" type="hidden" id="hclient" name="hname" value="{{client.name}}" >
                  <input type="text" class="form-control" id="edit-client" name="name" placeholder="{{client.name}}" value="" >
              </div>          
      
			  
                <div class="field">
                <label for="number">DNI/CUIL</label>
                 
                  <input class="hidden-input" type="hidden" id="id" name="id" value="{{client.id}}" >
                  <input type="text" class="form-control" id="edit-number" name="number" placeholder="{{client.id}}" value="" >
              </div>    
            </div>
			
			<div class="form-group">
                <div class="field">
                <label for="phone">Teléfono</label>             
				<input class="hidden-input" type="hidden" id="hphone" name="hphone" value="{{client.phone}}" >
                  <input type="text" class="form-control" id="edit-phone" name="phone" placeholder="{{client.phone}}" value="" >
              </div>          
      
                <div class="field">
                <label for="email">Correo</label>
				<input class="hidden-input" type="hidden" id="hemail" name="hemail" value="{{client.email}}" >
                  <input type="text" class="form-control" id="edit-email" name="email" placeholder="{{client.email}}" value="" >
              </div>
            </div>
			<div class="form-group">
                <div class="field">
                <label for="address">Dirección</label>
				<input class="hidden-input" type="hidden" id="haddress" name="haddress" value="{{client.address}}" >
                  <input type="text" class="form-control" id="edit-address" name="address" placeholder="{{client.address}}"  >
              </div>                         
            </div>
	



			<div class="modal-footer">     
				<input id="edit-submit" type="submit" value="Guardar"> 
			</div>
		  </form>
	
	  </div>
	</div>
	</div>

{% endfor %}



  <script>
	$(document).ready(function() {
	  var table = $('#clients_table').DataTable(
		{
			dom: 'Bfrtip',
			buttons: [
            {
                text: 'Cliente',
				className: 'btn-agregar',
                action: function ( e, dt, node, config ) {
					$('#formClient').modal('show');
                },
				titleAttr: 'Agregar cliente'
            },
			{
              extend: 'print',
              text: '<i class="lnr lnr-printer"></i>',
				      className: 'btn-print',
              exportOptions: {
                columns: ':visible'
        },
        titleAttr: 'Imprimir'
               
            }
        ],
		paging:false,
		language: {
			url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
		},
		columnDefs: [
      { targets: [5], orderable: false }, // Columnas 6 y 7 no ordenables
      { targets: '_all', orderable: true }, // Todas las demás columnas ordenables
  ],
	  
	});
	
	});
	</script>

	  

{% endblock %}