{% extends "home.html" %}
{% block content %}

{% if 'error_msg' in session %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ session.pop('error_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if 'success_msg' in session %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.pop('success_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}


<ul class="nav nav-tabs" id="myTabs" style="margin-bottom: 1em;">
  <li class="nav-item">
      <a class="nav-link active" id="LogUser" data-toggle="tab" href="#user">Usuarios</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="LogTab" data-toggle="tab" href="#log">Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="styleSwitcher" data-toggle="tab" href="#styles">Temas</a>
</li>
</ul>


<div class="tab-content">
  <div id="user" class="tab-pane fade show active">
<div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">
<table id="config_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for admin in admins %}
    <tr>
     <td>{{ loop.index }}</td>
     <td>{{ admin.user }}</td>
     <td> {{ admin.nick }}</td>
     {% if admin.role == '1' %}
     <td>Administrador</td>
     {% else %}
     <td>Usuario</td>
     {% endif %}
     <td> 
      {% if admin.role != '1' or admin.user != 'admin1' %}
      <a href="/remove_user/{{admin.user}}" class="btn btn-danger btn-sm" type="submit" 
      onclick="return confirm('Seguro?')"  >
      Eliminar <i class="fa fa-trash"></i> 
      </a>  
      {% endif %}  
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div class="modal fade" id="formConfig" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formModalLabel">Agregar usuario del sistema</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

  <form class="modalform" id="add_user" action="{{url_for('add_user')}}" method="POST" >
        
      <label for="user">
        Usuario
      </label>     
        <input type="text" id="username" name="username" required>
    
      <label for="user" >
        Nombre
      </label>    
        <input type="text" id="nick" name="nick" required>
  
      <label for="serial">
        Contraseña
      </label> 
        <input type="text" id="password" name="password" required>
     
      <label for="role">
        Rol</label>  
        <select class="form-select" id="role" name="role" >
          <option>Administrador</option>
          <option>Invitado</option>
        </select>
  
     
      <input type="submit" value="Guardar">
  </form>
</div>
</div>
</div>
</div>




<div id="log" class="tab-pane ">
<table style="margin-left: auto; margin-right: auto;">
  <tr>
    <th></th>
    <th>Usuario</th>
    <th>Últ. login</th>       
    <th>Desconexión</th>
  
  </tr>
  {% if sessions %}
  {% for session in sessions %}
  <tr>
    <td>
      <div style="border-radius: 50%; display: inline-block; box-shadow: inset 0px 0px 20px rgba(73, 73, 73, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5); border: 1px solid rgba(117, 117, 117, 0.541);">
      {% if session.logged_in %}
      <svg width="20" height="20">
        <circle cx="10" cy="10" r="6" fill="green"  stroke-width="2" stroke-linecap="round" />
      </svg> 
      {% else %}
      <svg width="20" height="20">
        <circle cx="10" cy="10" r="6" fill="red"  stroke-width="2" stroke-linecap="round"/>
      </svg>
      {% endif %}
    </div>
    </td>
    <td>{{session.username}}</td>
    <td>{{session.last_login}}</td>
    <td>{{session.logout}}</td>
  </tr>
 {% endfor %}
 {% endif %}
</table>

</div>




  <div id="styles" class="tab-pane ">
    <div class="text-center">
      <a class="theme-btn" href="#" onclick="setActiveStyleSheet('default'); return false;">Por defecto</a>
      <a class="theme-btn" href="#" onclick="setActiveStyleSheet('alternate'); return false;">Alternativo</a>
    </div>

    
    
    
  </div>
</div>


<script>
	$(document).ready(function() {
	  var table = $('#config_table').DataTable(
		{
			dom: 'Bfrtip',
			buttons: [
            {
                text: 'Usuario',
				className: 'btn-agregar',
                action: function ( e, dt, node, config ) {
					$('#formConfig').modal('show');
                },
                titleAttr: 'Agregar usuario del sistema'
            }
        ],
		paging:false,
		language: {
			url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
		},
		columnDefs: [
      { targets: [4], orderable: false }, // Columnas 6 y 7 no ordenables
      { targets: '_all', orderable: true }, // Todas las demás columnas ordenables
  ],
	  
	});
	
	});
	</script>

<script>
  $(document).ready(function(){
      // Manejar el evento de clic en las pestañas
      $('.nav-link').on('click', function(){
          // Desactivar la clase 'active' de todas las pestañas
          $('.nav-link').removeClass('active');
          // Activar la clase 'active' solo en la pestaña clicada
          $(this).addClass('active');
          
          // Ocultar todas las pestañas de contenido
          $('.tab-pane').removeClass('show active');
          // Mostrar solo la pestaña de contenido correspondiente a la pestaña clicada
          $($(this).attr('href')).addClass('show active');
      });
  });
</script>

{% endblock %}