{% extends "home.html" %}
{% block content %}



{% if 'error_msg' in session %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ session.pop('error_msg') }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if 'success_msg' in session %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ session.pop('success_msg') }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">
<caption><b>Contratos vigentes</b></caption>
<table id="current_contract_table" class="table table-bordered table-striped display responsive nowrap">
    <thead>
      <tr>
       
        <th>Barril</th>
        <th>Cliente</th>
        <th>DNI/CUIL</th>
        <th>Inicio Contrato</th>
        <th>Fin Contrato</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contracts %}
      {% if contract.condition == 'Current' %}
      <tr>
       <td>{{ contract.barrel_id }}</td>
       <td>{{ contract.client }}</td>
       <td> {{ contract.client_id }}</td>
       <td> {{ contract.init_date }}</td>
       {% if response %}
       <td style="color: red; "> {{ contract.end_date }}</td>
       {% else %}
       <td> {{ contract.end_date }}</td>
       {% endif %}
       <td> 
  
        <a href="/end_contract/{{contract.barrel_id}}" class="btn btn-success btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Finalizar Contrato"  > Finalizar 
          {% if not response %}
        <a href="/cancel_contract/{{contract.barrel_id}}" class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Cancelar Contrato" style="margin-left: 2em;" > Cancelar 
          {% endif %}
        </a> </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  
  </table>
</div>

 


<div class="row flex-column flex-md-row" style="margin-top: 5em;">
<div class="col-md-4 mb-3">
  <div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">
  <caption><b>Contratos finalizados</b>   </caption>
      
<table id="end_contract_table" class="table table-bordered table-striped display responsive nowrap ">

  <thead>
    <tr>
     
      <th>Barril</th>
      <th>Cliente</th>
      <th>DNI/CUIL</th>
    
    </tr>
  </thead>
  <tbody>
    {% for contract in contracts %}
    {% if contract.condition == 'Ended' %}
    <tr>
    
     <td>{{ contract.barrel_id }}</td>
     <td>{{ contract.client }}</td>
     <td> {{ contract.client_id }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>

</table>
<a href="/clear_contract" class="btn btn-outline-danger" type="submit" 
      onclick="return confirm('¿Está seguro de que desea limpiar la tabla?')" title="Limpiar Tabla" >
        <i class="fa fa-undo"></i> </a> 
</div>
</div>

<div class="col-md-8 mb-3">
  <div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">
  <caption><b>Contratos cancelados</b></caption>
<table id="cancel_contract_table" class="table table-bordered table-striped display responsive nowrap">
  <thead>
    <tr>
     
      <th>Barril</th>
      <th>Cliente</th>
      <th>DNI/CUIL</th>
      <th>Acciones</th>
    
    </tr>
  </thead>
  <tbody>
    {% for contract in contracts %}
    {% if contract.condition == 'Canceled' %}

    <tr>
   
     <td>{{ contract.barrel_id }}</td>
     <td>{{ contract.client }}</td>
     <td> {{ contract.client_id }}</td>
    
   <td>
    <a href="/remove_contract/{{contract.barrel_id}}" class="btn btn-warning btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Eliminar Contrato" > Eliminar 
    <a href="/resume_contract/{{contract.barrel_id}}" class="btn btn-primary btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Reanudar Contrato" style="margin-left: 2em;" > Reanudar 
    <a href="/erase/{{contract.barrel_id}}" class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Seguro?')" title="Devolver barril como Sucio" style="margin-left: 2em;" > Devolver 
      
   </td>
  
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>

</table>
</div>
</div>
</div>


<script>
	$(document).ready(function() {
	  var table = $('#current_contract_table').DataTable(
		{
      searching:false,
      ordering: false,
			dom: 'Bfrtip',
      buttons: [
          
        ],
			
		paging:false,
		language: {
			url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
		},
	
	  
	});
	
	});
	</script>

<script>
	$(document).ready(function() {
	  var table = $('#end_contract_table').DataTable(
		{
      searching:false,
      ordering: false,
			dom: 'Bfrtip',
      buttons: [
      {
              extend: 'print',
              text: '<i class="fa fa-print"></i>',
				      className: 'btn-print',
              exportOptions: {
                columns: ':visible'
        },
        titleAttr: 'Imprimir'
               
            }
        ],
			
		paging:false,
		language: {
			url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
		},
	
	  
	});
	
	});
	</script>
  <script>
    $(document).ready(function() {
      var table = $('#cancel_contract_table').DataTable(
      {
        searching:false,
        ordering: false,
        dom: 'Bfrtip',
        buttons: [
            
          ],
        
      paging:false,
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
      },
   
      
    });
    
    });
    </script>

{% endblock %}