{% extends "home.html" %}
{% block content %}

  <div class="w3-panel">
    <p class="distro-title">Distribución de barriles por estado</p>
  <div class="w3-row-padding">
    <div class="row">
  
   
      
      <div class="col-lg-3 col-6">
        <a href="#collapseService" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseService">
          <div class="small-box bg-warning">
            <div class="w3-center">
              <h3>En Servicio</h3>
              <div title="Porcentaje de barriles en servicio" class="progress-condition">
                <div class="progress-bar-condition" style="width:{{percent[0]}}%; background: linear-gradient(to bottom, #e65100, #ff9800);">
                  <span style="font-family: Montserrat;" class="progress-bar-text">{{percent[0]}}%</span>
                </div>
              </div>
              <b>
                <p>Barriles: {{total[0]}} ({{percent[0]}}%)</p>
                <p>Volumen: {{sl[0]}} L. ({{percent[4]}}%)</p>
              </b>
            </div>
          </div>
        </a>
      </div>
   
   


    <div class="col-lg-3 col-6">
      <a href="#collapseStorage" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStorage">
        <div class="small-box bg-info">
        <div class="w3-center">
          <h3>Almacenados </h3>
          <div title="Porcentaje de barriles almacenados" class="progress-condition">
            <div class="progress-bar-condition" style="width:{{percent[1]}}%; background: linear-gradient(to bottom, #17a2b8, #9dd9e7);">
                <span style="font-family: Montserrat;" class="progress-bar-text">{{percent[1]}}%</span>
            </div>
          </div>
          <b>
           <p>Barriles: {{total[1]}} ({{percent[1]}}%)</p>
           <p>Volumen: {{sl[1]}} L. ({{percent[5]}}%)</p>
          </b>
        </div>
      </div>
      </a>
    </div>
 
  
   
      <div class="col-lg-3 col-6">
        <a href="#collapseEmpty" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEmpty">
        <div class="small-box bg-success">
        <div class="w3-center">
          <h3>Vacíos</h3>
          <div title="Porcentaje de barriles vacíos" class="progress-condition">
            <div class="progress-bar-condition" style="width:{{percent[2]}}%; background: linear-gradient(to bottom, #1e7e34, #28a745);">
                <span style="font-family: Montserrat;" class="progress-bar-text">{{percent[2]}}%</span>
            </div>
          </div>
          <b>
          <p>Barriles: {{total[2]}} ({{percent[2]}}%)</p>
          <p>Volumen: {{sl[2]}} L. ({{percent[6]}}%) </p>
        </b>
        </div>
      </div>
      </a>
    </div>
 

   
    <div class="col-lg-3 col-6">
      <a href="#collapseDirty" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseDirty">
      <div class="small-box bg-danger">
          <div class="w3-center">
            <h3>Sucios</h3>
            <div title="Porcentaje de barriles sucios" class="progress-condition">
              <div  class="progress-bar-condition" style="width:{{percent[3]}}%; background: linear-gradient(to bottom, #8b0000, #dc3545);">
                  <span style="font-family: Montserrat;" class="progress-bar-text">{{percent[3]}}%</span>
              </div>
            </div>
            <b>
          <p>Barriles: {{total[3]}} ({{percent[3]}}%)</p>
          <p>Volumen: {{sl[3]}} L. ({{percent[7]}}%)</p>    
        </b>   
          </div>    
      </div>  
      </a>
    </div>
      
  </div>

  <div id="collapseService" class="collapse" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
    <h4><b> Resumen de barriles en servicio y ubicación </b></h4>
    <table>
      <thead>
        <tr>
          <th>Estilos </th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        {% if barrel_count %}
        {% for style, count in barrel_count.items() %}
        {% if count.service_style %}
        <tr>
          <td>{{ style }}</td>
          <td>{{ count.service_style }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <h5><b> Ubicaciones: </b></h5>
    <ul>
      {% if location_condition %}
      {% for key, value in location_condition[0].items()  %}
      <li>En <b style="text-transform: uppercase;">{{ key }}</b>: cantidad: {{value.count}} ----- volumen: {{value.liters}}</li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>



  <div id="collapseStorage" class="collapse" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
    <h4><b> Resumen de barriles en almacenamiento y ubicación</b></h4>
    <table>
      <thead>
        <tr>
          <th>Estilos </th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        {% if location_condition %}
        {% for style, count in barrel_count.items() %}
        {% if count.storage_style %}
        <tr>
          <td>{{ style }}</td>
          <td>{{ count.storage_style }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <h4>Ubicaciones:</h4>
    <ul>
      {% if location_condition %}
      {% for key, value in location_condition[1].items()  %}
      <li>En <b style="text-transform: uppercase;">{{ key }}</b>: cantidad: {{value.count}} ----- volumen: {{value.liters}}</li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>



  <div id="collapseEmpty" class="collapse" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
    <h4><b> Resumen de bariles vacíos y ubicación</b></h4>
  
    <h4>Ubicaciones:</h4>
    <ul>
      {% if location_condition %}
      {% for key, value in location_condition[2].items()  %}
      <li>En <b style="text-transform: uppercase;">{{ key }}</b>: cantidad: {{value.count}} ----- volumen: {{value.liters}}</li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>



  <div id="collapseDirty" class="collapse" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
    <h4><b> Resumen de barriles sucios y ubicación</b></h4>
  
    <h4>Ubicaciones:</h4>
    <ul>
      {% if location_condition %}
      {% for key, value in location_condition[3].items()  %}
      <li>En <b style="text-transform: uppercase;"> {{ key }}</b>: cantidad: {{value.count}} ----- volumen: {{value.liters}}</li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>






  <p class="distro-title">Distribución de barriles por ubicación</p>
  <div class="detail-container" style="margin: 1em 0 1em 0;">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-xl-4">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left" > 
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
              <i class="lnr lnr-apartment text-dark opacity-8"></i>
          </div>
  
          <div class="widget-chart-content">
            {% if barrel_location['Fábrica']%}
              <div class="widget-subheading"> {{ barrel_location['Fábrica']['count'] }} barril/es</div>
              <div class="widget-numbers">Fábrica </div>
              <div class="widget-description opacity-8 text-focus"> {{ barrel_location['Fábrica']['liters'] }} litros</div>
            {% else %}
            <div class="widget-subheading"> 0 barril/es</div>
            <div class="widget-numbers">Fábrica </div>
            <div class="widget-description opacity-8 text-focus"> 0 litros</div>
              {% endif %}
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4 col-xl-4">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left" > 
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
              <i class="lnr lnr-store text-dark opacity-8"></i>
          </div>
  
          <div class="widget-chart-content">
            {% if barrel_location['Bar']%}
              <div class="widget-subheading"> {{ barrel_location['Bar']['count'] }} barril/es</div>
              <div class="widget-numbers">Bar </div>
              <div class="widget-description text-focus"> {{ barrel_location['Bar']['liters'] }} litros</div>
              {% else %}
            <div class="widget-subheading"> 0 barril/es</div>
            <div class="widget-numbers">Bar </div>
            <div class="widget-description  text-focus"> 0 litros</div>
            {% endif %}
          </div>
        </div>
      </div>
      
   
      <div class="col-sm-12 col-md-4 col-xl-4">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left" > 
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
              <i class="lnr lnr-user text-dark opacity-8"></i>
          </div>
  
          <div class="widget-chart-content">
            {% if barrel_location['Cliente']%}
              <div class="widget-subheading"> {{ barrel_location['Cliente']['count'] }} barril/es</div>
              <div class="widget-numbers">Cliente </div>
              <div class="widget-description opacity-8 text-focus"> {{ barrel_location['Cliente']['liters'] }} litros</div>
              {% else %}
            <div class="widget-subheading"> 0 barril/es</div>
            <div class="widget-numbers">Cliente </div>
            <div class="widget-description opacity-8 text-focus"> 0 litros</div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>    

    </div>

<p class="distro-title">Detalles generales</p>
  <div class="detail-container" >
    <p style="color: red; font-size: .85em;"><b>{{ warning }}</b></p>
    <div class="top-section">
     
        <span id="total">TOTAL BARRILES: <b>{{total[4]}}</b> </span>   
        <span id="capacity"> CAPACIDAD: <b>{{sl[4]}} L.</b> </span>          
    
    </div>
      <ul class="barrel-items">
        <li>Barriles útiles:&nbsp; <b>{{total[5]}}</b> </li>
        <li>Litros Netos:&nbsp; <b>{{sl[5]}}</b> </li>
        <li>Gasificados:&nbsp; <b>{{total[6]}}</b></li>
       
      </ul>

      <p class="distro-title">Distribución de barriles por estilos</p>
    <div class="barrel-container" >
    <table>
      <tr>
        <th></th>
        <th>Barriles<sup title="Barriles útiles (En servicio y almacenamiento)">?</sup></th>
        <th>Volumen<sup title="Litros útiles (En servicio y almacenamiento)">?</sup></th>       
        <th>Gasif.<sup title="Barriles útiles / litros útiles">?</sup></th>
        <th>No gasif.<sup title="Barriles útiles / litros útiles">?</sup></th>
      
      </tr>
      {% if barrel_count %}
      {% for type, info in barrel_count.items() %}
      <tr>
        
        <td>{{type}}</td>
      
        <td title="Barriles útiles" >{{info.count}}</td>
        <td title="Litros útiles" >{{info.liters}}</td>
        <td title="Barriles útiles / litros útiles">{{info.gasified}} b./{{info.gasified_liters}}L.</td>
        <td title="Barriles útiles / litros útiles">{{info.not_gasified}} b./{{info.not_gasified_liters}}L.</td>
      </tr>
     {% endfor %}
     {% endif %}
    </table>
  </div>


  <p class="distro-title">Distribución de barriles por lotes</p>
  <div class="barrel-container" >
  <table>
    <tr>
      <th></th>
      <th>Barriles<sup title="Barriles útiles (En servicio y almacenamiento)">?</sup></th>
      <th>Volumen<sup title="Litros útiles (En servicio y almacenamiento)">?</sup></th>       
      <th>Gasif.<sup title="Barriles útiles / litros útiles">?</sup></th>
      <th>No gasif.<sup title="Barriles útiles / litros útiles">?</sup></th>
    
    </tr>
    {% if barrel_count_batch %}
    {% for type, info in barrel_count_batch.items() %}
    <tr>
      
      <td>{{type}}</td>
    
      <td title="Barriles útiles" >{{info.count}}</td>
      <td title="Litros útiles" >{{info.liters}}</td>
      <td title="Barriles útiles / litros útiles">{{info.gasified}} b./{{info.gasified_liters}}L.</td>
      <td title="Barriles útiles / litros útiles">{{info.not_gasified}} b./{{info.not_gasified_liters}}L.</td>
    </tr>
   {% endfor %}
   {% endif %}
  </table>
</div>

</div>





</div>





</div>
</div>



<script>
  history.pushState(null, null, document.URL);
  window.addEventListener('popstate', function () {
      history.pushState(null, null, document.URL);
  });
</script>


<script>
  $(document).ready(function() {
  $('.collapse').on('show.bs.collapse', function () {
    $('.collapse.show').each(function(){
      $(this).collapse('hide');
    });
  });
});
</script>


{% endblock %}