<!DOCTYPE html>
<html>
<head>
<title>Lagash Stock</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for('static', filename='img/Lagash-logo.png') }}" type="image/x-icon">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<!-- Incluimos jQuery -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/i18n/datepicker-es.js"></script> <!-- Carga el archivo de idioma español -->



<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" title="default">
<link rel="alternate stylesheet" href="{{ url_for('static', filename='css/alter.css') }}" title="alternate">
</head>

<body>
 

<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="z-index:4;">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>  
</div>

<!-- Sidebar/menu -->

<nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:10.4em;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <div class="">
      <span>Bienvenido {{ nick }} </span><br>
     
    </div>
    
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Cerrar </a>
    <a href="/home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home"></i>  HOME</a>
    <a href="/management" class="w3-bar-item w3-button w3-padding"><i class="fa fa-database"></i>  Gestionar</a>
    <a href="/barrel_condition" class="w3-bar-item w3-button w3-padding"><i class="fa fa-exchange"></i>  Modificar</a>
    <a href="/contracts" class="w3-bar-item w3-button w3-padding"><i class="fa fa-handshake-o"></i>  Contratos </a>
    {% if role == '1' %}
    <a href="/clients" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle"></i>  Clientes</a>
    <a href="/record" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Historial</a>
    <a href="/config" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i> Configuración</a><br>
    {% endif %}
    <a href="{{url_for('logout')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out"></i> Salir</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>



<style>

  /* Estilos para el contenedor principal */
    /* Estilos para el título */
        #title {
            float: left; /* Hace que el título flote a la izquierda */
        }
  /* Estilos para el icono de notificación */
  .notification-icon1 {
      font-size: 24px;
      color: rgb(207, 207, 0);
      cursor: help;
      margin-left: 10px; /* Agrega un margen a la izquierda para separar el icono del título */
  }

  .notification-icon2 {
      font-size: 24px;
      color: red;
      cursor: help;
      margin-left: 10px; /* Agrega un margen a la izquierda para separar el icono del título */
  }
</style>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:13em">

  <!-- Header -->
  <header class="w3-container" style="padding-top:3.15em; margin-bottom: 1em;">

    <div class="container">
    <h1 id="title"><b> {{title}}</b></h1>

    {% if expire1 and not expire2 %}
    <span class="notification-icon1" title="Existen contratos próximos a vencer"><i class="fa fa-bell"></i></span>
    {% endif %}
    {% if expire2 %}
    <span class="notification-icon2" title="Existen contratos vencidos"><i class="fa fa-bell"></i></span>
    {% endif %}
  </div>
  </header>

 
 
  {% block content %}
  {% endblock %}

 

  <!-- End page content -->
</div>


<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/styleswitcher.js')}}"></script>



<script>
$(document).ready(function() {
 
  var table = $('#management_table').DataTable(
    {
    
    "scrollY": "22em", // aquí se establece la altura del scroll vertical
    "scrollCollapse": true,
    dom: 'Bfrtip',
    buttons: [
      {
                text: 'Barril',
				className: 'btn-agregar',
                action: function ( e, dt, node, config ) {
					$('#modalBarrel').modal('show');
                },
                titleAttr: 'Agregar barril'
            },
          
            {
                text: 'Lote/Estilo',
				className: 'btn-agregar btn-lote-estilo',
                action: function ( e, dt, node, config ) {
					$('#modalBatch').modal('show');
                },
                titleAttr: 'Agregar lote y estilo'
            },
            {
                text: 'Litros',
				className: 'btn-agregar btn-litros',
                action: function ( e, dt, node, config ) {
					$('#modalLiters').modal('show');
                },
                titleAttr: 'Agregar capacidad'
            },

            {
              extend: 'excel',
              text: '<i class="fa fa-file-excel-o"></i>',
				      className: 'btn-excel',
              exportOptions: {
                columns: [0, 1, 2, 3, 4, 5, 6, 7]
        },
        titleAttr: 'Exportar a Excel'
               
            },
            {
              extend: 'print',
              text: '<i class="lnr lnr-printer"></i>',
				      className: 'btn-print',
              exportOptions: {
                columns: ':visible'
        },
        titleAttr: 'Imprimir'
               
            }
         
            
        ], 
     
    
    paging:false,

    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
    },
    columnDefs: [
      { targets: [8], orderable: false }, // Columnas 6 y 7 no ordenables
      { targets: '_all', orderable: true }, // Todas las demás columnas ordenables
  ],


  
});

$('#filter_select').on('change', function() {
      // Obtener el valor seleccionado del elemento de selección
      var selectedValue = $(this).val();

      if (selectedValue === 'Todos') {
        // Si se selecciona la opción "Todos", eliminar el filtro y dibujar la tabla completa
        table.column(2).search('').draw();
      } else {
        // Aplicar el filtro de columna
        table.column(2).search(selectedValue).draw();
      }
   });

   


});


</script>



<script>
  history.pushState(null, null, document.URL);
  window.addEventListener('popstate', function () {
      history.pushState(null, null, document.URL);
  });


</script>



</body>
</html>
