<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
  <script src="https://kit.fontawesome.com/093cad8cbf.js" crossorigin="anonymous"></script>
  <link rel="icon" href="./static/img/Lagash-logo.png">
  <title>LAGASH</title>
</head>
<body>

  
    <form action="{{url_for('login')}}" method="post">
    <img id="logo" src="./static/img/Lagash-logo.png" alt="LAGASH">
     <label>
      <i class="fa-solid fa-user"></i>
      <input autofocus required type="text" name="user" id="username" placeholder="Usuario" autocomplete="off">
     </label>
     
     <label class="password-input">
        <i class="fa-solid fa-lock" ></i>
      <input required type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" >
      <i id="show-password" class="fa-solid fa-eye" onclick="togglePW()"></i>


     </label>
     <button id="button">INGRESAR</button>
        {% if error_msg %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>{{ error_msg }}</p>
          
          </button>
        </div>
      {% endif %}

  </form>


  <script>
    function togglePW(){
      var password = document.querySelector('[name=password]');
      if(password.getAttribute('type')==='password'){
        password.setAttribute('type', 'text');
        document.getElementById("font").style.color='black'
      }
      else{
        password.setAttribute('type','password');
        document.getElementById("font").style.color='white';
      }
    }
  </script>

<script>
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
  </script>
  

</body>


</html>