{% extends "home.html" %}
{% block content %}


{% if 'error_msg' in session %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ session.pop('error_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if 'success_msg' in session %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.pop('success_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}



<!--

  <div class="dataTables_filter pull-right" >
    <label for="filter_select" style="display: inline-block;">Filtrar por estados: 
    <select id="filter_select" class="form-select" name="filter_select" style="display: inline-block;">
      <option>Todos</option>
      <option>Vacío</option>
      <option>Sucio</option>
      <option>En servicio</option>
      <option>En almacenamiento</option>
    </select>
    </label>
    </div>
-->

{% if role == '1'%}
<p class="load-excel-title">Cargar un archivo Excel</p>

<form class="selectForm" method="POST" action="/load_excel" enctype="multipart/form-data">
    <input type="file" name="archivo_excel" required>
    <input style="margin-left: 12em;" type="submit"  value="Cargar">
</form>
{% endif %}


<div class="tableContainer" style="padding: 1.5em 1.5em 1.5em 1.5em;">

<table id="management_table" class="table table-bordered table-striped display responsive nowrap" >
  <thead>
    <tr>
      <th >Nº</th>
      <th >Serie</th>
      <th >Estado</th>
      <th >Ubicación</th>
      <th >Estilo</th>
      <th >Litros</th>
      <th >Gasificado</th>
      <th >Lote</th>
      <th >Opciones</th>
    </tr>
  </thead>

  <tbody>
    {% for barrel in list_barrel %}
    <tr>
      <td >{{barrel.id}}</td>
      <td>{{barrel.serial}}</td>
      <td>
        {% if barrel.condition == 'Sucio' %}
          <span style="color:red"><b>{{barrel.condition}}</b> </span>
           
        {% endif %}
        {% if barrel.condition == 'Vacío' %}
        <span style="color:green"> <b>{{barrel.condition}}</b></span>
         
      {% endif %}
      {% if barrel.condition == 'En servicio' %}
      <span style="color:rgb(255, 136, 0)"> <b>{{barrel.condition}}</b></span>
       
    {% endif %}
    {% if barrel.condition == 'En almacenamiento' %}
    <span style="color:blue"> <b>{{barrel.condition}}</b></span>
     
    {% endif %}
      
        </td>  
     
      <td>{{barrel.location}}</td>                 
      <td>{{ barrel.style}}
        {% if not barrel.style %}
        <span style="color: #a11c30;">-</span>
      {% endif %}
      </td>
      <td>{{ barrel.liters}}</td>
      <td>{{ barrel.gasified}}</td>
      <td>{{barrel.batch}}
        {% if not barrel.batch %}
        <span style="color: #a11c30;">SIN LOTE</span>
      {% endif %}
      </td>
      <td style="text-align: center;">
        <a href="/options/{{barrel.id}}"> Ver</a>
     
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>




<div class="w3-panel">
  <div class="buttons-container pull-right">  
 
  {% block barrels%}
  {% endblock %}


  {% block style%}
  {% endblock %}


  {% block batch%}
  {% endblock %}


  {% block liters%}
  {% endblock %}

  

  </div>
</div>




{% endblock %}