{% extends "home.html" %}
{% block content %}


{% if 'error_msg' in session %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ session.pop('error_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if 'success_msg' in session %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ session.pop('success_msg') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}



<section >
<div class="row flex-column flex-md-row">

<div class="col-md-4 mb-3">

  <div class="box box-success box-shadow">
    <div class="box-body box-profile">
      <h3 class="text-center">Nº Barril - {{id}}</h3>
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Número de serie</b>
          <span class="pull-right"> {{barrel_data['serial']}}</span>
        </li>
        <li class="list-group-item">
          <b>Capacidad</b>
          <span class="pull-right"> {{barrel_data['liters']}}</span>
        </li>
        <li class="list-group-item">
          <b>Estilo</b>
          <span class="pull-right">{{barrel_data['style']}}</span>
        </li>
        <li class="list-group-item">
          <b>Ubicación</b>
          <span class="pull-right">{{barrel_data['location']}}</span>
        </li>
        <li class="list-group-item">
          <b>Estado</b>
          <span class="pull-right">
          {% if barrel_data['condition'] == 'Sucio' %}
                  <span style="color:red"><b>{{barrel_data['condition']}}</b> </span>
                   
                  {% endif %}
                  {% if barrel_data['condition'] == 'Vacío' %}
                  <span style="color:green"> <b>{{barrel_data['condition']}}</b></span>
                  
                  {% endif %}
                  {% if barrel_data['condition'] == 'En servicio' %}
                  <span style="color:rgb(255, 136, 0)"> <b>{{barrel_data['condition']}}</b></span>
                  
                  {% endif %}
                  {% if barrel_data['condition'] == 'En almacenamiento' %}
                  <span style="color:blue"> <b>{{barrel_data['condition']}}</b></span>
                  
                {% endif %}
            </span>
        </li>
        <li class="list-group-item">
          <b>Lote</b>
          <span class="pull-right">{{barrel_data['batch']}}</span>
        </li>
        <li class="list-group-item">
          <b>Gasificado</b>
          <span class="pull-right">{{barrel_data['gasified']}}</span>
        </li>
      </ul>
    </div>
  </div>


<div>
  
  {% if barrel_data['location'] == 'Bar' or barrel_data['location'] == 'Fábrica' %}
  {% if barrel_data['condition'] == 'En almacenamiento' %}
  <a style="margin-right: 1em;" href="" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalcontracts{{id}}" title="Contratos"><i class="fa fa-file-text"></i></a>
  {% endif %}
  {% endif %}
  
  {% if barrel_data['location'] == 'Bar' or barrel_data['location'] == 'Fábrica' %}
  <a style="margin-right: 1em;" href="" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modaledit{{id}}" title="Editar"> 
    <i class="fa fa-pencil-square-o"></i></a>
  <a style="margin-right: 1em;" href="/delete/{{id}}" class="btn btn-danger btn-lg" type="submit" onclick="return confirm('¿Está seguro de que desea eliminar este elemento?')" title="Eliminar" >
      <i class="fa fa-trash"></i> </a>   
  {% endif %}
  
         
  </div>
</div>


<div class="col-md-8 mb-3">
    <div class="box box-solid">
      <div class="box-header">
        {% if role == '1'}
        <h1>Historial de Estados
          <a  href="/clear/{{id}}" class="btn btn-outline-danger btn-lg" type="submit" onclick="return confirm('¿Está seguro de que desea limpiar la tabla?')" title="Limpiar Historial" >
            <i class="fa fa-undo"></i> </a> 
            {% endif %}
        </h1>
    
        <h3>Ciclo de vida del barril</h3>
        <p><strong>Ciclo de vida:</strong> {{cycle_count}}</p>
     
        <h3>Tiempo promedio del barril en cada estado</h3>
        <table border="1">
            <tr>
                <th>Estado</th>
                <th>Días</th>
                <th>Horas</th>
                <th>Minutos</th>
            </tr>
            {% for state, values in average.items() %}
            <tr>
                <td>{{ state }}</td>
                <td>{{ values[0] }}</td>
                <td>{{ values[1] }}</td>
                <td>{{ values[2] }}</td>
            </tr>
            {% endfor %}
        </table>
         
        <div class="box-body table-responsive">
      
          <table id="optionTable" class="table table-bordered table-striped display responsive nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Fecha </th>
                <th>Usuario/Nombre</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(barrel_data['user']|length-1, -1, -1)%}
              <tr>
                <td> {{loop.index}}</td>
                <td>{{ barrel_data['date'][i]}}</td>
                <td>{{ barrel_data['user'][i]}}</td>
                <td>
                  {% if barrel_data['conditions_history'][i] == 'Sucio' %}
                  <span style="color:red"><b>{{barrel_data['conditions_history'][i]}}</b> </span>
                   
                  {% endif %}
                  {% if barrel_data['conditions_history'][i] == 'Vacío' %}
                  <span style="color:green"> <b>{{barrel_data['conditions_history'][i]}}</b></span>
                  
                  {% endif %}
                  {% if barrel_data['conditions_history'][i] == 'En servicio' %}
                  <span style="color:rgb(255, 136, 0)"> <b>{{barrel_data['conditions_history'][i]}}</b></span>
                  
                  {% endif %}
                  {% if barrel_data['conditions_history'][i] == 'En almacenamiento' %}
                  <span style="color:blue"> <b>{{barrel_data['conditions_history'][i]}}</b></span>
                  
                {% endif %}
                </td>
                <td>{{ barrel_data['action'][i]}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
  
        </div>
      </div>
    </div>
</div>
</div>

</section>


<div class="modal fade" id="modalcontracts{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formModalLabel">Contrato </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
    
  <form class="modalform" id="add_user" action="{{url_for('add_contract')}}" method="POST" >
    <input  type="hidden" id="barrel" name="barrel" value="{{barrel_data['id']}}" >
    <p>
      Se efectuará el contrato al día de la fecha del barril con identificador único número <b> '{{ barrel_data['id']}}'</b>  al cliente 
      <select id="contract-client" name="contract-client" style="width: 35%;" required>
        <option value="" disabled selected>--Seleccione una opción--</option>
        {% for doc in clients %}
       
        <option data-client-id="{{ doc['id'] }}" >{{ doc['name'] }}</option>
    
        {% endfor %}
        <input type="hidden" name="hclient-id">
      </select> con número de DNI/CUIL <b> <span style="font-size: 1em;"  id="client-id"></span></b> 
      que se extenderá por días <input type="number"  id="days" name="days" min="0" required >
    </p>
    <input type="submit" value="Generar contrato">
    <script>
        $(document).ready(function() {
          $('#modalcontracts{{id}}').on('shown.bs.modal', function () {
            // Obtener el campo select y el span dentro del modal
            var select = $('#modalcontracts{{id}}').find('#contract-client')[0];
            var span = $('#modalcontracts{{id}}').find('#client-id')[0];
      
            // Agregar un evento onchange al campo select
            select.addEventListener("change", function() {
              // Obtener el valor seleccionado
              var value = $(this).find(':selected').attr('data-client-id');
              // Mostrar el valor en el span
              span.innerHTML = value;
               $('input[name="hclient-id"]').val(value);
            });
          });
        });
      </script>
 
  </form>
   
  
</div>
</div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
      var editCondition = document.getElementById("edit-condition");
      var editBatch = document.getElementById("edit-batch");
      var editGasified = document.getElementById("edit-gasified");



    
      // Función para validar el formulario
      function validateForm() {
          if ((editCondition.value === "Sucio" || editCondition.value === "Vacío") && editBatch.value.trim() != "") {
              editBatch.value = "{{barrel_data['batch']}}"; // Restaurar el valor original
              alert("No se permite ingresar un lote cuando el estado es Sucio o Vacío");
              return false; // Evita enviar el formulario
          }

          if ((editCondition.value === "Sucio" || editCondition.value === "Vacío" || editCondition.value === "En servicio") && editGasified.value === "SI") {
            
            alert("No se permite Gasificar un barril cuando el estado es Sucio, Vacío o En servicio");
            return false; // Evita enviar el formulario
          }

          if ((editCondition.value === "En servicio" || editCondition.value === "En almacenamiento") && editBatch.value.trim() === "") {
                alert("El campo Lote no puede estar vacío cuando el estado es En servicio o En almacenamiento.");
                return false; // Evita enviar el formulario
            }
          return true; // Envía el formulario
      }

      // Agregar un evento de escucha al formulario
      var editForm = document.getElementById("edit-barrel");
      editForm.addEventListener("submit", function (event) {
          if (!validateForm()) {
              event.preventDefault(); // Evita que se envíe el formulario si no es válido
          }
      });
  });

    // Función para mostrar u ocultar el lote y el campo de gasificado según la selección en el campo de condición
    function toggleFields() {
    var conditionSelect = document.getElementById('edit-condition');
    var batchField = document.getElementById('field-batch-style');
    var gasField = document.getElementById('form-check-gas');

    if (conditionSelect.value === 'En almacenamiento' || conditionSelect.value === 'En servicio') {
      batchField.style.display = 'block';
      if (conditionSelect.value === 'En almacenamiento') {
        gasField.style.display = 'block';
      } else {
        gasField.style.display = 'none';
      }
    } else {
      batchField.style.display = 'none';
      gasField.style.display = 'none';
    }
  }

   

</script>


<div class="modal fade" id="modaledit{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   
    <div class="modal-content">
      <div class="modal-header">
  
        <h4 class="modal-title">Editar barril</h4>
  
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  
        <form class="modalform" id="edit-barrel" action="{{url_for('update')}}" method="POST">
          <div class="form-group">
            <div class="field">
            <label for="number">Número barril</label>
             
              <input class="hidden-input" type="hidden" id="id" name="id" value="{{barrel_data['id']}}" >
              <input type="text" class="form-control" id="edit-number" name="number" placeholder="{{barrel_data['id']}}"
               pattern="[A-Za-z0-9-]+" title="Solo se permiten números, letras y guiones" oninvalid="setCustomValidity('Por favor, ingresa solo números, letras y guiones.')" >
          </div>          
  
            <div class="field">
            <label for="serial">Número de serie</label>
             
              <input type="hidden" id="serial" name="serial" value="{{barrel_data['serial']}}" >
              <input type="text" class="form-control" id="edit-serial" name="number-serial" placeholder="{{barrel_data['serial']}}" 
              pattern="[A-Za-z0-9-]+" title="Solo se permiten números, letras y guiones" oninvalid="setCustomValidity('Por favor, ingresa solo números, letras y guiones.')" >
          </div>
        </div>
  
  
        <div class="form-group">
         
          {% if barrel_data['location'] == 'Bar' or barrel_data['location'] == 'Fábrica' %}
          <div class="field">
            <label for="locations">Ubicación</label>    
              <select class="form-select" id="edit-locations" name="location" >
                <option selected > {{barrel_data['location']}}</option>
                  {% if barrel_data['location'] == 'Fábrica' %}
                  <option>Bar</option>
                
                  {% endif %}
                  {% if barrel_data['location'] == 'Bar' %}
                  <option>Fábrica</option>
 
                  {% endif %}
                
                        
              </select>
          </div>
          {% else %}
          <div class="field">
            <label for="locations">Ubicación</label>    
            <select class="form-select" id="edit-locations" name="location" disabled>
              <option selected > {{barrel_data['location']}}</option>
            </select>
          </div>
          {% endif %}

          <div class="field">
            <label for="liters">Litros</label>
              <select class="form-select" id="edit-liters" name="liters" >
                <option selected >{{barrel_data['liters']}}</option>
                {% for doc in quantity %}
                 {% if doc['quantity'] != barrel_data['liters'] %}
  
                <option>{{doc['quantity']}}</option>
                {% endif %}
                {% endfor%}
              </select>
          </div>
        </div>
  

             


            <div class="field">
              <label for="condition">Estado</label>
                <select class="form-select" id="edit-condition" name="condition">
                  <option selected > {{barrel_data['condition']}}</option>
                    {% if barrel_data['condition'] == 'Vacío' %}
                    <option>Sucio</option>
                    <option>En servicio</option>
                    <option>En almacenamiento</option>
                    {% endif %}
                    {% if barrel_data['condition'] == 'Sucio' %}
                    <option>Vacío</option>
                    <option>En servicio</option>
                    <option>En almacenamiento</option>
                    {% endif %}
                    {% if barrel_data['condition'] == 'En servicio' %}
                    <option>Vacío</option>
                    <option>Sucio</option>
                    <option>En almacenamiento</option>
                    {% endif %}
                    {% if barrel_data['condition'] == 'En almacenamiento' %}
                    <option>Vacío</option>
                    <option>Sucio</option>
                    <option>En servicio</option>
                    {% endif %}
                </select>
            </div>
        
  
        <div class="form-group">
         
          <div class="field" id="field-batch-style">
            <label for="batchs">Lote</label>
              <select class="form-select" id="edit-batch" name="batchs" >
                <option selected >{{barrel_data['batch']}}</option>
                {% for doc in batch %}
                 {% if doc['batch'] != barrel_data['batch'] %}
  
                <option>{{doc['batch']}}</option>
                {% endif %}
                {% endfor%}
              </select>
          </div>
      
        
          
       
            <div class="field" id="form-check-gas">
            <label for="gasified">Gasificado</label>
             
              <select class="form-select" id="edit-gasified" name="gasified" >
                <option selected >{{barrel_data['gasified']}}</option>
                 {% if barrel_data['gasified'] == 'SI' %}
                <option> NO</option>
                {% endif %}
  
                {% if barrel_data['gasified'] == 'NO' %}
                <option> SI </option>
                {% endif %}
              
              </select>
          </div>
        
        </div>


        <div class="field">
          <div id="client-select" style="display:none">
            <label for="client" >
              Cliente
            </label>
          
              <select class="form-select" id="client" name="client">
                {% for doc in clients %}
                <option>{{doc['name']}}</option>
                {% endfor%}
              </select>
          </div>
        </div>

          <div class="modal-footer">     
              <input id="edit-submit" type="submit" value="Guardar"> 
          </div>
        </form>

        
      
    </div>
  </div>
  </div>
  



<script>

$(document).ready(function() {
  var table = $('#optionTable').DataTable(
    {
    
    "scrollY": "30em", // aquí se establece la altura del scroll vertical
    "scrollCollapse": true,
    dom: 'Bfrtip',
    buttons: [
      {
                  
              extend: 'excel',
              text: '<i class="fa fa-file-excel-o"></i>',
				      className: 'btn-excel',
              exportOptions: {
                columns: [0, 1, 2, 3,]
        },
        titleAttr: 'Exportar a Excel'
               
            },
            {
              extend: 'print',
              text: '<i class="fa fa-print"></i>',
				      className: 'btn-print',
              exportOptions: {
                columns: ':visible'
        },
        titleAttr: 'Imprimir'
               
            }
         
            
        ], 
     
    
    paging:false,
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json',
    },
    columnDefs: [
    
      { targets: [0], orderable: true }, // Todas las demás columnas ordenables
      { targets: '_all', orderable: false}
  ],

  
  
});

});
</script>


<script>

  $(document).ready(function() {
    $("#modaledit{{id}}").on("hidden.bs.modal", function() {
 
     
   
      $('#edit-batch').val( $('#edit-batch option:first').val() );
      $('#edit-liters').val( $('#edit-liters option:first').val() );
      $('#edit-condition').val( $('#edit-condition option:first').val() );
      $('#edit-locations').val( $('#edit-locations option:first').val() );
      $('#edit-style').val( $('#edit-style option:first').val() );
      $('#edit-gasified').val( $('#edit-gasified option:first').val() );     
      $("#edit-serial").val("")
      $("#edit-number").val("")
      

     
    });
  });
  
  </script>


<script>

  $(document).ready(function() {
    $("#modalcontracts{{id}}").on("hidden.bs.modal", function() {
 
     
      $('#contractClient').val( $('#contractClient option:first').val() );
      $("#client-id").text("");

      $("#days").text("");

    });
  });
  
  </script>


{% endblock %}