{% extends "management.html" %}
{% block barrels %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
<script>

  $(document).ready(function () {


    $("#modalBarrel").on("hidden.bs.modal", function () {

      $('#liters').val($('#liters option:first').val());
      $('#style').val($('#style option:first').val());
      $('#location').val($('#location option:first').val());
      $('#condition').val($('#condition option:first').val());
      $('#batch').val($('#batch option:first').val());
      $("#serial-number").val("");
      $("#number").val("");
      $("#check-gas").prop("checked", false);
      toggleGasCheckboxAndCondition();
     
      
    });
  

  });

  function toggleGasCheckboxAndCondition() {
    var conditionSelect = document.getElementById("condition");
    var gasCheckbox = document.getElementById("form-check-gas");
    var batchStyle = document.getElementById("field-batch-style");


    // Verificar si el estado seleccionado es "En almacenamiento" o "En servicio"
    if (conditionSelect.value === "En almacenamiento" || conditionSelect.value === "En servicio") {
      batchStyle.removeAttribute("hidden");
    } else {
      batchStyle.setAttribute("hidden", "true");
    }
    // Verificar si el estado seleccionado es "En almacenamiento" para mostrar el checkbox
    if (conditionSelect.value === "En almacenamiento") {
      gasCheckbox.removeAttribute("hidden");
    } else {
      gasCheckbox.setAttribute("hidden", "true");
    }

  }

  function sendBarrelForm() {
    // Obtén los datos del formulario
    var formData = $("#formBarrel").serialize();

    // Envía una solicitud AJAX a tu ruta de Flask
    $.ajax({
      type: "POST",
      url: "/add_barrel",
      data: formData,
      success: function (response) {
        // Maneja la respuesta de Flask si es necesario
        // Puedes mostrar un mensaje de éxito o realizar otras acciones
        // Por ejemplo, si deseas actualizar la tabla dentro del modal, puedes hacerlo aquí.
        // Verifica si hay un mensaje de éxito en la respuesta

        if (response.success){
        $("#success-message").text(response.message).show();
        $("#error-message").hide();
        // Limpia el formulario una vez que se haya enviado con éxito
        $("#formBarrel")[0].reset();
        toggleGasCheckboxAndCondition();
         // Oculta el mensaje de éxito después de 3000 milisegundos (3 segundos)
  setTimeout(function () {
    $("#success-message").fadeOut();
  }, 3000);

        } else {
          $("#success-message").hide();
          $("#error-message").text(response.message).show();

          setTimeout(function () {
          $("#error-message").fadeOut();
        }, 3000);
        }
        
        

      },
      error: function (error) {
        // Maneja los errores si es necesario
      }
    });

    // Retorna false para evitar la recarga de la página
    return false;
  }

</script>

<div class="modal fade" id="modalBarrel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formModalLabel">Agregar barril</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form class="modalform" id="formBarrel" action="{{url_for('add_barrel')}}" method="POST" onsubmit="return sendBarrelForm()">
        <div class="modal-body">
          <div id="success-message" class="alert alert-success" style="display: none;"></div>
          <div id="error-message" class="alert alert-danger" style="display: none;"></div>

          <div class="form-group">
            <div class="field">
              <label for="number">
                Número de barril
              </label>
              <input type="text" pattern="[A-Za-z0-9-]+" title="Solo se permiten números, letras y guiones" id="number"
                name="number" placeholder="ID"
                oninvalid="setCustomValidity('Por favor, ingresa solo números, letras y guiones.')"
                oninput="setCustomValidity('')" required>
            </div>
            <div class="field">
              <label for="serial-number">
                Número de serie
              </label>
              <input type="text" pattern="[A-Za-z0-9-]+" title="Solo se permiten números, letras y guiones"
                id="serial-number" name="serial-number" placeholder="Nº serie"
                oninvalid="setCustomValidity('Por favor, ingresa solo números, letras y guiones.')"
                oninput="setCustomValidity('')" required>
            </div>
          </div>

          <div class="form-group">

            <div class="field">
              <label for="liters">
                Litros</label>

              <select class="form-select" id="liters" name="liters" required>
                {% for doc in quantity %}
                <option>{{doc['quantity']}}</option>
                {% endfor%}
              </select>
            </div>

            <div class="field">
              <label for="location">
                Ubicación</label>

              <select class="form-select" id="location" name="location">
                <option>Fábrica</option>
                <option>Bar</option>

              </select>
            </div>
          </div>



          <div class="field">
            <label for="condition">
              Estado</label>
            <select class="form-select" id="condition" name="condition" onchange="toggleGasCheckboxAndCondition()">
              <option>Vacío</option>
              <option>Sucio</option>
              <option>En servicio</option>
              <option>En almacenamiento</option>
            </select>
          </div>




          <div class="form-group">
            <div class="field" id="field-batch-style" hidden>
              <label for="batch">
                Lote</label>

              <select class="form-select" id="batch" name="batch" required>
                {% for doc in batch %}
                <option>{{doc['batch']}}</option>
                {% endfor%}
              </select>
            </div>


            <div class="form-check" id="form-check-gas" hidden>
              <input class="form-check-input" type="checkbox" value="True" id="check-gas" name="check-gas">
              <label class="form-check-label" for="check-gas">
                Gasificado
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock%}







<!-- Liters button -->
{% block liters %}

<script>
  $(document).ready(function () {
    $("#modalLiters").on("hidden.bs.modal", function (e) {

      $("#modal-liters").val("");

    });
  });


  function sendLiters() {
    // Obtén los datos del formulario
    var formLiters = $("#litersForm").serialize();

    // Envía una solicitud AJAX a tu ruta de Flask
    $.ajax({
      type: "POST",
      url: "/add_liters",
      data: formLiters,
      success: function (response) {
        // Maneja la respuesta de Flask si es necesario
        // Puedes mostrar un mensaje de éxito o realizar otras acciones
        // Por ejemplo, si deseas actualizar la tabla dentro del modal, puedes hacerlo aquí.
        if (response.success){
        $("#success-liters").text(response.message).show();
        $("#error-liters").hide();
          // Limpia el formulario una vez que se haya enviado con éxito
        $("#litersForm")[0].reset();

        setTimeout(function () {
          $("#success-liters").fadeOut();
        }, 3000);
        } else {
          $("#success-liters").hide();
          $("#error-liters").text(response.message).show();

          setTimeout(function () {
          $("#error-liters").fadeOut();
        }, 3000);
        }
       
      },
      error: function (error) {
        // Maneja los errores si es necesario
      }
    });

    // Retorna false para evitar la recarga de la página
    return false;
  }


</script>

{% if role == '1' %}

<!-- The Modal -->
<div class="modal" id="modalLiters" data-bs-backdrop="static" data-bs-keyboard="false">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar litros</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <form class="mddalform" id="litersForm" action="{{url_for('add_liters')}}" method="POST" onsubmit="return sendLiters()">
        <div class="modal-body">
          <div id="success-liters" class="alert alert-success" style="display: none;"> </div>
          <div id="error-liters" class="alert alert-danger" style="display: none;"></div>

          <div class="form-group">
            <div class="field">
              <label for="liters">
                Cantidad
              </label>

              <input type="number" id="modal-liters" name="liters" placeholder="Litros" required>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="sendForm" class="btn btn-success">Guardar</button>
        </div>
      </form>


      <div class="tableContainer">
        <table id="modal_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>LITROS</th>

            </tr>
          </thead>
          {% for doc in quantity %}
          <tbody>
            <tr>
              <td>{{doc.quantity}}</td>
              <td>
                <a href="/removes/{{doc.quantity}}" class="btn btn-danger btn-sm" type="submit"
                  onclick="return confirm('Seguro?')">
                  Eliminar <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}




{% block batch %}

<script>
  $(document).ready(function () {
    $("#modalBatch").on("hidden.bs.modal", function (e) {

      $("#modal-batch").val("");
      $("#styles").val("");
    });
  });

  function sendBatchForm() {
    // Obtén los datos del formulario
    var formBatch = $("#batchForm").serialize();

    // Envía una solicitud AJAX a tu ruta de Flask
    $.ajax({
      type: "POST",
      url: "/add_batch_style",
      data: formBatch,
      success: function (response) {
        // Maneja la respuesta de Flask si es necesario
        // Puedes mostrar un mensaje de éxito o realizar otras acciones
        // Por ejemplo, si deseas actualizar la tabla dentro del modal, puedes hacerlo aquí.

        if (response.success) {
        $("#success-batch").text(response.message).show();
        $("#error-batch").hide();
        // Limpia el formulario una vez que se haya enviado con éxito
        $("#batchForm")[0].reset();

        // Oculta el mensaje de éxito después de 3000 milisegundos (3 segundos)
        setTimeout(function () {
          $("#success-batch").fadeOut();
        }, 3000);


      } else {
        $("#success-batch").hide();
        $("#error-batch").text(response.message).show();

        setTimeout(function () {
          $("#error-batch").fadeOut();
        }, 3000);
      }
       

      },
      error: function (error) {
        // Maneja los errores si es necesario
      }
    });

    // Retorna false para evitar la recarga de la página
    return false;
  }

</script>

{% if role == '1' %}
<!-- The Modal -->
<div class="modal" id="modalBatch" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" role="dialog"aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar lote/estilo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <!-- Modal body -->
      <form class="modalform" id="batchForm" action="/add_batch_style" method="POST" onsubmit="return sendBatchForm()">
        <div class="modal-body">
          <div id="success-batch" class="alert alert-success" style="display: none;"></div>
          <div id="error-batch" class="alert alert-danger" style="display: none;"></div>

          <div class="form-group">
            <div class="field">
              <label for="batch">
                Lote
              </label>


              <input type="text" id="modal-batch" name="batch" placeholder="Lote" required>
            </div>
            <div class="field">
              <label for="style">
                Estilo
              </label>
              <input type="text" id="styles" name="style" list="styles" placeholder="Estilo de Cerveza" required>
              <div id="styleList"></div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>


      <div class="tableContainer">
        <table id="modal_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>LOTES</th>

            </tr>
          </thead>
          {% for doc in batch %}
          <tbody>
            <tr>
              <td>{{doc.batch}}</td>
              <td>
                <a href="/del_batch/{{doc.batch}}" class="btn btn-danger btn-sm" type="submit"
                  onclick="return confirm('Seguro?')">
                  Eliminar <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>

{% endif %}
<script>
  const styles = [
    "APA",
    "IPA",
    "Pilsner",
    "Golden",
    "Red",
    "Porter",
    "Gose",
    "Voss",
    "Stout",
    "Lager",
    "Ale",
    "Kölsch",
    "Saison"
  ];

  const stylesInput = document.getElementById("styles");
  const styleList = document.getElementById("styleList");

  stylesInput.addEventListener("input", function() {
    const inputValue = this.value.toLowerCase();
    const filteredStyles = styles.filter(style => style.toLowerCase().includes(inputValue));

    // Limpiar la lista de estilos
    styleList.innerHTML = "";

    // Mostrar los estilos coincidentes solo si hay texto en el campo de entrada
    if (inputValue.trim() !== "") {
      filteredStyles.forEach(style => {
        const styleOption = document.createElement("div");
        styleOption.textContent = style;
        styleOption.addEventListener("click", function() {
          stylesInput.value = style;
          styleList.innerHTML = ""; // Limpiar la lista después de seleccionar un estilo
        });
        styleList.appendChild(styleOption);
      });
    }
  });
</script>

{% endblock %}